stages:
 - docker
 - debug
 - prod

build-docker-image:
  image: docker:24
  services:
    - docker:24-dind
  stage: docker
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - |
      if docker manifest inspect $CI_REGISTRY_IMAGE/bc-dev-android:36 >/dev/null 2>&1; then
        echo "Image $CI_REGISTRY_IMAGE/bc-dev-android:36 already exists. Skipping build and push.";
      else
        docker build -f docker-files/bc-dev-android-36 -t bc-dev-android:36 .;
        docker tag bc-dev-android:36 $CI_REGISTRY_IMAGE/bc-dev-android:36;
        docker push $CI_REGISTRY_IMAGE/bc-dev-android:36;
      fi

build-debug:
  image: $CI_REGISTRY_IMAGE/bc-dev-android:36
  stage: debug
  before_script:
    - if ! [ -z ${ANDROID_SETTINGS_GRADLE+x} ]; then echo "$ANDROID_SETTINGS_GRADLE" > settings.gradle.kts; fi
    - git config --global --add safe.directory /builds/frequency-connect/android-app
    - ./gradlew app:dependencies | grep org.linphone
    - ./gradlew clean
  script:
    # Build a debug APK
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - ./app/build/outputs/apk/debug/frequency-connect-android-debug-*.apk
    when: always
    expire_in: 1 day
  only:
    - branches

build-prod:
  image: $CI_REGISTRY_IMAGE/bc-dev-android:36
  stage: prod
  before_script:
    - if ! [ -z ${ANDROID_SETTINGS_GRADLE+x} ]; then echo "$ANDROID_SETTINGS_GRADLE" > settings.gradle.kts; fi
    - git config --global --add safe.directory /builds/frequency-connect/android-app
    - ./gradlew app:dependencies | grep org.linphone
    - ./gradlew clean
  script:
    # Fetch keystore from CI/CD variables
    - echo "$KEYSTORE_FILE" | base64 -d > app/bc-android.keystore
    - echo "storePassword=$KEYSTORE_PASSWORD" > keystore.properties
    - echo "keyPassword=$KEY_PASSWORD" >> keystore.properties
    - echo "keyAlias=$KEY_ALIAS" >> keystore.properties
    - echo "storeFile=bc-android.keystore" >> keystore.properties
    # Build a release bundle
    - ./gradlew bundleRelease
  artifacts:
    paths:
      - ./app/build/outputs/bundle/release/app-release.aab
    when: always
    expire_in: never
  only:
    - tags
