image: gitlab.linphone.org:4567/bc/public/linphone-android/bc-dev-android:20230414_bullseye_jdk_17_cleaned # TODO: maybe build our own image from linphone-android/docker-files/

before_script:
  - if ! [ -z ${ANDROID_SETTINGS_GRADLE+x} ]; then echo "$ANDROID_SETTINGS_GRADLE" > settings.gradle.kts; fi
  - git config --global --add safe.directory /builds/frequency-connect/android-app
  - ./gradlew app:dependencies | grep org.linphone
  - ./gradlew clean

stages:
 - debug
 - prod

build-debug:
  stage: debug
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - ./app/build/outputs/apk/debug/frequency-connect-android-debug-*.apk
    when: always
    expire_in: 1 day

build-prod:
  stage: prod
  dependencies:
    - build-debug
  script:
    # Fetch keystore from CI/CD variables
    - echo "$KEYSTORE_FILE" | base64 -d > app/bc-android.keystore
    - echo "storePassword=$KEYSTORE_PASSWORD" > keystore.properties
    - echo "keyPassword=$KEY_PASSWORD" >> keystore.properties
    - echo "keyAlias=$KEY_ALIAS" >> keystore.properties
    - echo "storeFile=bc-android.keystore" >> keystore.properties
    # Build
    - ./gradlew assembleRelease
    - ./gradlew bundleRelease
  artifacts:
    paths:
      - ./app/build/outputs/apk/release/frequency-connect-android-release-*.apk
      - ./app/build/outputs/bundle/release/app-release.aab
    when: always
    expire_in: never
  only:
    - tags
